.moon-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a0a23;
  overflow: hidden;
}

#moon {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #d8d8d8;
  box-shadow: 0px 0px 50px #d8d8d8;
  animation: sparkle 2s infinite;
  pointer-events: auto;
  touch-action: manipulation; /* added line */
}



#stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  animation: star-fade-in 4s ease-out;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 2px;
  background-color: white;
  border-radius: 50%;
  animation: star-shimmer 1s infinite;
}

#emoji {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  animation: emoji-bounce 2s infinite;
}

@keyframes sparkle {
  0% {
    box-shadow: 0px 0px 50px #d8d8d8;
  }
  50% {
    box-shadow: 0px 0px 100px #d8d8d8;
  }
  100% {
    box-shadow: 0px 0px 50px #d8d8d8;
  }
}

@keyframes star-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes star-shimmer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-bounce {
  0% {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, 10%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
